@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
1200-1800px: Desktop - normal styles apply
1800px <  big desktop
*/

/*breakpoint argument choices:
-phone: 600px/16
-tab-port: 900px/16
-tab-land: 1200/16
-big-desk: 1800/16

ORDER: Base + typography > general layout > grid > page layout > components
1em = 16px
*/
// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

//ONLY SCREEN: when want to print out the page, that media style will not be applied
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
