/*best practice is to use inheritance for top selector as for box-sizing here, so that it will be easier to change whenever is needed. Also need to include pseudo elements as if we leave just * {} pseudo elements won't be included*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/*default browser is 16px ==> 10px/16px = 0.625*/
html {
  //defines what 1rem is
  font-size: 62.5%; //10px

  @include respond(tab-land) {
    //width < 1200px
    font-size: 56.26%; //1rem = 9px, 9/16 = .5625
  }

  @include respond(tab-port) {
    //width < 900px
    font-size: 50%; //1rem = 8px, 8/16 = .5
  }

  @include respond(big-desk) {
    //width > 1800px
    font-size: 75%; //1rem = 12px, 12/16 = 0.75
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
